@use '../../styles/variables' as *;

.headerNavItem {
    @include flex-center-column;
    justify-content: start;
    opacity: 1;
}

.headerNavItemTitleWrapper {
    @include flex-center-row;
    align-items: end;
    gap: 5px;
}

.headerNavItemTitle {
    font-family: $font-default;
    font-size: 18px;
    font-weight: 500;
    line-height: inherit;
    color: $color-gray-cf;
}

.headerNavItem--active .headerNavItemTitle {
    color: $color-white;
}

.headerNavItemIcon {
    width: 7px;
    height: 18px;
    opacity: 0.75;
    transform: rotate(0deg);
    transition: $transition-icon-rotate-style;
    object-fit: contain;
}

.headerNavItemMenuContent {
    @include flex-center-column;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
    // overflow: hidden;
    transform-origin: center center;
}

.headerNavItemMenuContentItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    transform-origin: center center;
}

.headerNavItem--default {
    padding: 0;
    border-radius: 15px;
    border: 1px solid transparent;
    background: rgba(147, 146, 146, 0);
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0);
    backdrop-filter: blur(0) saturate(100%);
    -webkit-backdrop-filter: blur(0) saturate(100%);
    transition: $transition-style;

    &:hover {
        padding: 10px 29px;
        @include apply-glass-surface($glass-light-matte-weak);
        box-shadow: 0 10px 28px rgba(0, 0, 0, 0.18);
    }
}

.headerNavItem--menu {
    justify-content: flex-start;
    width: 90px;
    padding: 0;
    border-radius: 20px;
    border: 1px solid transparent;
    background: rgba(147, 146, 146, 0);
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0);
    backdrop-filter: blur(0) saturate(100%);
    -webkit-backdrop-filter: blur(0) saturate(100%);
    height: fit-content;
    box-sizing: border-box;
}
