@use '../../../../styles/variables' as *;

.welcomeSection {
    background: url(../../../../assets/images/pictures/welcomeBackground.jpg);
    background-image: -webkit-image-set(url(../../../../assets/images/pictures/welcomeBackground.webp) type('image/webp'),
            url(../../../../assets/images/pictures/welcomeBackground.jpg) type('image/jpeg'));
    background-image: image-set(url(../../../../assets/images/pictures/welcomeBackground.webp) type('image/webp'),
            url(../../../../assets/images/pictures/welcomeBackground.jpg) type('image/jpeg'));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 125px;

    .container {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        width: 100%;

        .welcomeSectionWrapper {
            @include flex-between-row;
            width: 100%;

            .welcomeSectionDescription {
                @include flex-center-column;
                align-items: start;
                gap: 56px;
            }
        }
    }
}