@font-face {
    font-family: 'Actay';
    src: url('../assets/fonts/actay/Actay-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Actay Wide';
    src: url('../assets/fonts/actay/ActayWide-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Actay';
    src: url('../assets/fonts/actay/Actay-RegularItalic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AKONY';
    src:
        url('../assets/fonts/akony/AKONY.otf') format('opentype'),
        url('../assets/fonts/akony/AKONY.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
