@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

@font-face {
    font-family: 'AKONY';
    src:
        url('../assets/fonts/akony/AKONY.otf') format('opentype'),
        url('../assets/fonts/akony/AKONY.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}