@use '../../../../styles/variables' as *;
@use 'sass:list';

.WelcomeSectionSubtitle {
    font-size: 17px;
    padding-bottom: 5px;
    opacity: 0.5;
    animation-name: welcome-section-subtitle-fade-in;
    animation-duration: list.nth($transition-style, 2);
    animation-timing-function: list.nth($transition-style, 3);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes welcome-section-subtitle-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}