@use '../../styles/variables' as *;

.header {
    width: 100%;
    position: fixed;
    top: 0;
    padding-top: 7px;
    z-index: 1000;

    .headerUnderlay {
        width: 100%;
        min-width: 100vw;
        height: 95px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        pointer-events: none;
        border-bottom: 1px solid;
        @include apply-glass-surface($glass-dark-matte-strong);
        opacity: 0;
        transition: opacity 170ms ease;
        will-change: opacity;
    }

    .headerUnderlayVisible {
        opacity: 1;
    }

    .container {
        @include flex-center-row;
        align-items: center;
        gap: 120px;
        position: relative;
        z-index: 1;
    }
}